# Python environment isolation
venv/
.venv/
backend/venv/
__pycache__/
*.pyc

# Local Credentials
.env
.env.*
frontend/.env.local

# OS files
.DS_Store
Thumbs.db

# NextJS build files and node modules
frontend/node_modules/
frontend/.next/
frontend/out/